
<footer class="text-center text-white"  >
    <div class="text-center text-dark p-3" style="background-color: rgb(238, 238, 238); box-shadow: 0px -1px 0px 0px rgb(164, 164, 164);
    "> <!--rgba(0, 100, 0, 0.2);-->
        © 2022 Copyright - 
        <a class="text-dark" href="about">About us</a>
         - Thanks for your support 	&#x1F9E1;
    </div>
</footer>
</body>