<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Accueil - Yumeal</title>

    <!-- CSS only -->
    <!-- body-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>


<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container" id="Grahim">
        <div class="logo" >
            <a href="/dashboard"><img src='/assets/logv4.png' height=60px width=auto></a>
            <a href="/dashboard"><img src='/assets/logo_name.png' height=50px width=auto style="margin-top: 5px;"></a>
    </div>
</nav>
    
<body>