
            <%- include ("./messages") %>
            <form action="/auth/forgot" method="POST" class="forgot__container">
                
                <!-- Subtitle -->
                <h2  class="forgot__container-title"> Forgot Password </h2>

                <!-- Avatar -->
                <img src="/assets/ninja2.png" alt="Avatar" class="forgot__container-logo"/>


                <!-- Input email -->
                <label for="forgot__container-input-title">Email</label>
                <input type="email" id="email" name="email" class="forgot__container-input" placeholder="Enter Email" />
                
                <!-- Reset password CTA -->
                <button type="submit" class="forgot__container-cta forgot__container-cta--forgot btn btn-primary btn-block">Send me a password reset link</button>
                
                <!-- Bottom links -->
                <span class="forgot__container-bottom-link">
                    Remember your password? <a href="/auth/login">Login</a>
                </span>
            </form>

        </div>
    </div>
</div>