
            <%- include ("./messages") %>
            <form action="/auth/forgot" method="POST" class="forgot__container">
                <!-- Logo-->
                <img class="forgot__container-logo" src="/assets/ninja2.png" alt="Logo" />
                
                <!-- Subtitle-->
                <h1 class="forgot__container-title">Forgot Password</h1>

                <!-- Input email -->
                <p class="forgot__container-input-title">Email</p>
                <input id="email" class="forgot__container-input" type="email" placeholder="Email" />

                <!-- Rest password CTA -->
                <a class="forgot__container-cta forgot__container-cta--forgot" href="#">Send me a password reset link</a>

                <!-- Bottom links -->
                <span class="forgot__container-bottom-link">Remember your password?<a href="/login.html">Login</a></span>

            </form>
        </div>
    </div>
</div>