<%- include ("./messages") %>
<form class="login__container">
    <!-- Logo -->
    <img class="login__container-logo" src="/assets/ninja2.png" alt="Logo" />

    <!-- Subtitle -->
    <h1 class="login__container-title">Login</h1>

    <!-- Input email -->
    <p class="login__container-input-title">Email</p>
    <input id="email" class="login__container-input" type="email" placeholder="Email" />

    <!-- Input password -->
    <p class="login__container-input-title">Password</p>
    <input id="password" class="login__container-input" type="password" placeholder="Password" />

    <!-- Login CTA -->
    <a class="login__container-cta login__container-cta--login" href="menu">Login</a>

    <!-- Bottom links -->
    <span class="login__container-bottom-link">New User?<a href="/auth/register">Register</a></span>
    <span class="login__container-bottom-link">Forgot Password?<a href="/auth/forgot">Reset</a></span>

</form>
</body>
</html>