
    
            <%- include ("./messages") %>
            <%- include("partials/header_log.ejs"); %>


            <form action="/auth/login" method="POST" class="login__container mx-auto" style="margin-top:130px; margin-bottom: 30px; ">

                <!-- Avatar -->
                <img class="login__container-logo" src="/assets/cooking.png" alt="Logo" style="width: 70px; height: auto; margin-bottom: 20px;" />
                
                <!-- Subtitle-->
                <h2 class="login__container-title">
                    Login
                </h2>

                <!-- Input email-->
                <label for="login__container-input-title">Email</label>
                <input type="email" id="email" name="email" class="login__container-input" placeholder="Enter Email" />
            
                <!-- Input password-->
                <label for="login__container-input-title">Password</label>
                <input type="password" id="password" name="password" class="login__container-input" placeholder="Enter Password" />

                <!-- Login CTA-->
                <button type="submit"  style="background-color: orangered; border: 0ch;"class="login__container-cta login__container-cta--login btn btn-primary btn-block" href="menu">Login</button>
                <span class ="login__container-bottom-link">
                    New User? <a href="/auth/register">Register</a>
                </span>
                <span class ="login__container-bottom-link">
                    Forgot Password? <a href="/auth/forgot">Reset</a>
                </span>
            </form>

        </div>
    </div>
</div>