<%- include("partials/header.ejs"); %>
    <!-- CSS only -->
    <!-- body-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="boot.css" />
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">

    <!-- Nav joli-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/5.1.1/css/font-awesome.min.css">

    <!-- Icons Header-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<body class="bg" style="background-color: rgb(238, 238, 238) ; margin-top: 300px;">

    <div class="container">
        <div class="rounded-3" style="background-color: rgb(255, 255, 255); ">
            <div class="row content">
                <div class="img_profile">
                    <img class="d-block mx-auto" style="margin-top: 20px;" src="/assets/cooking.png" alt="avatar" width=75px >
                </div>
            </div>
            
            <div class="row">
                <div class="text-sm-center">
                    <h3>Hello <%= name %> !</h3>
                    <h6 >Here you can customize your profile as you wish ;)</h6>
                </div>
            </div>

            <div class="row" style="margin-top: 20px">
                <div class="col text-sm-center">
                    <h4>Do you have a <span style="color: #E96000;">specific diet</span> ?</h4>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 text-sm-center">
                  <p>Are you vegan ?</p>
                    <input type="checkbox" class="vegan" id="vegan">
                    <label for="vegan"></label>
                </div>

                <div class="col-lg-6 text-sm-center">
                    <p>Are you <span style="color: #E96000;">vegetarian</span> ?</p>
                    <input type="checkbox" class="vege" id="vege">
                    <label for="vege"></label>
                </div>
            
            </div>

            <div class="row">

                <div class="col-lg-6 text-sm-center">
                    <p>Are you <span style="color: #E96000;">gluten free</span> ?</p>
                    <input type="checkbox" class="gf" id="gf">
                    <label for="gf"></label>
                </div>

                <div class="col-lg-6 text-sm-center">
                    <p>Are you <span style="color: #E96000;">meat free</span> ?</p>
                    <input type="checkbox" class="meat" id="meat">
                    <label for="meat"></label>
                </div>
            </div>

            <div class="row" style="margin-top: 30px">
                <div class="col text-sm-center">
                    <h4>Are you <span style="color: #E96000;">allergic</span> to any of these ?</h4>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 text-sm-center">
                    <p>Egg</p>
                    <input type="checkbox" class="egg" id="egg">
                    <label for="egg"></label>
                </div>
                <div class="col-lg-6 text-sm-center">
                    <p>Lactose</p>
                    <input type="checkbox" class="lct" id="lct">
                    <label for="lct"></label>
                </div>  
            </div>

            <div class="row">
                <div class="col-lg-6 text-sm-center">
                    <p>Peanuts</p>
                    <input type="checkbox" class="pnuts" id="pnuts">
                    <label for="pnuts"></label>
                </div>
                <div class="col-lg-6 text-sm-center">
                    <p>Seafood</p>
                    <input type="checkbox" class="sea" id="sea">
                    <label for="sea"></label>
                </div>


            </div>           
            
            <div class="row justify-content-center" >
                <button type="submit" class="btn btn-secondary" style="width:120px; background-color: rgb(57, 155, 48); margin-bottom: 20px;">Confirm</button>
            </div>

            <div class="row" style="margin-top: 40px;">

                <div class="col-lg-6 text-sm-center">
                    <button type="reset" class="btn btn-secondary" style="width:180px; background-color: lightgray; color: black; margin-bottom: 20px;">Reset your account</button>
                </div>

                <div class="col-lg-6 text-sm-center">
                    <a href="/auth/logout"> <button class="btn btn-secondary" style="width:180px; background-color: lightgray; color: black; margin-bottom: 20px;">Logout</button></a>
                </div>

            </div>

            </script>

        </div>
    </div>
</body>

<%- include("partials/footer.ejs"); %>
