

    <div class="welcome__container">
        <!-- Logo -->
        <h1><img class="welcome__container-logo" src="/assets/ninja2.png" alt="Logo" /></h1>

        <!-- Subtitle -->
        <p class="welcome__container-subtitle">Login to an existing account or register</p>

        <!-- Login CTA -->
        <a class="welcome__container-cta welcome__container-cta--login" href="/auth/login"  class="btn btn-primary btn-block" >Login</a>

        <!-- Register CTA -->
        <a class="welcome__container-cta welcome__container-cta--register" href="/auth/register" class="btn btn-secondary btn-block mb-2">Register</a>
    </div>


