
<body>
    <div class="welcome__container">
        <!-- Logo -->
        <img class="welcome__container-logo" src="/assets/ninja2.png" alt="Logo" />

        <!-- Subtitle -->
        <p class="welcome__container-subtitle">Login into an existing account or register</p>

        <!-- Login CTA -->
        <a class="welcome__container-cta welcome__container-cta--login" href="/auth/login">Login</a>

        <!-- Register CTA -->
        <a class="welcome__container-cta welcome__container-cta--register" href="/auth/register">Register</a>
    </div>
</body>
</html>